node_modules/
.pnpm-store/

.next/
out/
dist/
build/
coverage/
.turbo/
apps/api/src/generated/

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
*.pem

.vercel
.idea/
.vscode/*
!.vscode/extensions.json
